.page-centered-element {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  text-align: center;
  color: white;

  h1 {
    font-size: 50px;
  }

  .buttons-container {
    margin-top: 30px;
  }
}
